<!DOCTYPE html>
<html lang="zh-hant-tw">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="bookmark" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <title>dogs or cats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top font-sans">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand"> <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:22px;height:22px;display:inline-block"/><strong style="vertical-align:middle;">貓狗辨識</strong></a></div>
        <div id="member">
          <div class="navbar-web">
            <div class="nav navbar-nav navbar-right"><span id="member-id">dogs_or_cats@gmail.com</span>
              <button class="btn btn-default navbar-btn btn-custom" id="logout-button" type="button">登出</button>
              <a href="http://line.me/R/ti/p/Gg0LFD1bL-"><img src="{{ url_for('static', filename='images/line.svg') }}" style="width:36px;height:36px"/></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section id="current-block">
      <div class="container text-center font-sans veritcal">
        <h2 class="heading">阿貓or阿狗，都幾？</h2>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 content">
            <div class="image-upload-wrap">
              <label class="drag-text">點擊或將圖片拖曳到這裡</label>
              <input class="file-upload-input" type="file" onchange="uploadFile(this);" accept="images/*"/>
            </div>
            <div class="file-upload-content"><img class="file-upload-image" src="#" alt="你的圖片"/>
              <div class="image-title-wrap">
                <button class="remove-image" type="button">移除圖片<span class="image-title">uploaded image</span></button>
              </div>
            </div>
          </div>
          <button class="btn btn-default btn-custom" type="button" id="classify">辨識是貓還是狗</button>
          <div class="col-sm-8 col-sm-offset-2 content" id="loading-bar" data-second="5" style="display:none">
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"></div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-2 content animation-show" id="cat-vs-dog" style="display:none">
            <div class="cat"></div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" id="cat-probability" role="progressbar">45%</div>
              <div class="progress-bar progress-bar-success progress-bar-striped active pull-right" id="dog-probability" role="progressbar">55%</div>
            </div>
            <div class="dog"></div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/validator.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>